.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*ส่วนกำหนดรูปแบบของตัวอักษร*/
.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 6px 8px 0 rgba(255, 0, 0, 5.5);
  margin: 1em;
  user-select: none;
  background: rgb(253, 165, 0);
 }

 .activeCard {
  color: red;
  background: pink;
 }