.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*ส่วนกำหนดรูปแบบของตัวอักษร*/
.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 6px 8px 0 rgba(255, 140, 46);
  margin: 1em;
  user-select: none;
  background: rgb(2, 162, 255);
 }

 .activeCard {
  color: rgb(255, 255, 255);
  background: rgb(247, 80, 108);
 }

/* รูปแบบของFont ใช้เฉพาะหัวข้อ */
h1 {
  font-family: 'Mali', cursive;
  font-size: 40px;
  background-color: #d4b500e8;

}

/* รูปแบบของFont ใช้เฉพาะชื่อกับรหัส น.ศ */
h2 {
  font-family: 'Mali', cursive;
    float: right;
}

/* รูปแบบของFont ใช้เฉพาะชื่อกับรหัส น.ศ */
h3 {
  font-size: 19px;
  font-family: 'Mali', cursive;
  color: red;
}